{% extends 'base.html.twig' %}

{% block title %}Moto index{% endblock %}

{% block body %}
    <h1>Moto index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Modele</th>
                <th>Marque</th>
                <th>Couleur</th>
                <th>NumeroSerie</th>
                <th>NumeroMatricule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for moto in motos %}
            <tr>
                <td>{{ moto.id }}</td>
                <td>{{ moto.modele }}</td>
                <td>{{ moto.marque }}</td>
                <td>{{ moto.couleur }}</td>
                <td>{{ moto.numeroSerie }}</td>
                <td>{{ moto.numeroMatricule }}</td>
                <td>
                    <a href="{{ path('moto_show', {'id': moto.id}) }}">show</a>
                    <a href="{{ path('moto_edit', {'id': moto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('moto_new') }}">Create new</a>
{% endblock %}
